.saved-movies {
  padding: 70px 70px 0;
}

@media screen and (max-width: 768px) {
  .saved-movies {
    padding: 80px 30px 0;
  }
}

@media screen and (max-width: 425px) {
  .saved-movies {
    padding: 80px 10px 0;
  }
}