.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 18px 70px;
}

@media screen and (max-width: 768px) {
  .header__wrapper {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 425px) {
  .header__wrapper {
    padding: 18px 14px;
  }
}

.header__links {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 425px) {
  .header__links {
    gap: 14px;
  }
}

.header__links-item {
  margin: 0;
  padding: 0;
}

.header__button {
  background-color: #000;
  border: none;
  border-radius: 3px;
  color: #fff;
  height: 32px;
  width: 76px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 425px) {
  .header__button {
    font-size: 10px;
    height: 26px;
    width: 54px;
  }
}

.header__link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

@media screen and (max-width: 425px) {
  .header__link {
    font-size: 10px;
  }
}
