.navigation-tab {
  display: flex;
  gap: 10px;

  justify-content: center;
}

.navigation-tab__button {
  padding: 0;
  background-color: #e8e8e8;
  border: none;
  border-radius: 10px;
  color: #fff;
  height: 36px;
  width: 96px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.navigation-tab__link {
  color: #fff;
  text-decoration: none;
}