.navigation-tab {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
  .navigation-tab {
    margin-bottom: 17px;
    gap: 6px;
  }
}

.navigation-tab__button {
  padding: 0;
  background-color: #e8e8e8;
  border: none;
  border-radius: 10px;
  color: #fff;
  height: 36px;
  width: 96px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

@media screen and (max-width: 600px) {
  .navigation-tab__button {
    font-size: 10px;
    height: 26px;
    width: 82px;
  }
}

.navigation-tab__link {
  color: #fff;
  text-decoration: none;
}